h1 {
    padding: 25px 0px;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
    background-color: #ffffff;
    }

table, th, td {
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}

th {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

td {
    font-size: 15px;
    font-weight: 300;
    color: #000000;

}
button {
width: 100px;
height: 30px;
font-size: 15px;
background-color: #f0f0f0d3;
color: #000000;
margin-top: 5px;
margin-left: 900px;
}